/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | GRAVE  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  DEL   |
            // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
            // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '    |
            // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |  LBKT  |                    |  RBKT  |   N    |   M    |   ,    |   .    |   /    |  RET   |
            // | ADJUST |  ESC   |  ALT   |  LGUI  | EISUU  | LOWER  | SPACE  |                    |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |

            bindings = <
&kp GRAVE      &kp N1          &kp N2      &kp N3   &kp N4     &kp N5                             &kp N7     &kp N8         &kp N9      &kp N0         &kp MINUS         &kp EQUAL
&kp TAB        &kp Q           &kp W       &kp E    &kp R      &kp T                              &kp U      &kp I          &kp O       &kp P          &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp CAPS       &kp A           &kp S       &kp D    &kp F      &kp G                              &kp J      &kp K          &kp L       &kp SEMICOLON  &kp SINGLE_QUOTE  &kp RET
&kp B          &kp LEFT_SHIFT  &kp Z       &kp X    &kp C      &kp V   &kp HOME    &kp PAGE_UP    &kp M      &kp COMMA      &kp PERIOD  &kp SLASH      &kp RIGHT_SHIFT   &kp UP_ARROW
&kp BACKSPACE  &kp BACKSLASH   &kp INSERT  &kp DEL  &kp SPACE  &sl 2   &kp END     &kp PAGE_DOWN  &lt 1 F10  &kp RIGHT_ALT  &kp LEFT    &kp DOWN       &kp ESCAPE        &kp RIGHT
            >;
        };

        Fn_layer {
            bindings = <
&trans     &trans  &trans  &trans  &trans  &trans                    &trans   &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                    &trans   &kp F1  &kp F2  &kp F3  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                    &trans   &kp F4  &kp F5  &kp F6  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans   &kp F7  &kp F8  &kp F9  &trans  &trans
&soft_off  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F10  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
